@model List<Serie>

<h1>Series Personajes Cedex</h1>

@foreach (Serie item in Model){
    <div class="card" style="width: 18rem;">
        <img src="~/images/@item.Imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
            <p class="card-text">Año: @item.Anyo</p>
            <a asp-controller="Personajes" asp-action="PersonajesSerie"
            asp-route-idserie="@item.IdSerie"
            class="btn btn-primary">Personajes</a>
        </div>
    </div>
}