<h1>Create Personaje</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control"/>
    <label>Id Serie</label>
    <input type="text" name="idserie" class="form-control"/>
    <button class="btn btn-info">
        Create
    </button>
</form>