@model List<Personaje>

<h1 style="color:blue">Personajes Serie</h1>

<p>
    <a asp-controller="Personajes" asp-action="CreatePersonaje">
        Create Personaje
    </a>
</p>

@foreach (Personaje item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="~/images/@item.Imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
            <p class="card-text">IdSerie: @item.IdSerie</p>
            <a asp-controller="Personajes" asp-action="Details"
               asp-route-idpersonaje="@item.IdPersonaje"
               class="btn btn-primary">Details</a>
        </div>
    </div>
}